html {
  margin: 0px;
  background-image: url('src/assets/bg-image.jpeg') ; 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: initial;
}

body {
  margin: 0px;
}

a {
  color: black;
}

h1 {
  color: black !important;
}

.event-nav a {
  text-decoration: none;
}

.event-nav .router-link-active {
  color: rgb(94, 112, 168);
  font-weight: 600;
}
