html {
  margin: 0px;
  background-image: url('src/assets/bg-image.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: initial;
}

body {
  margin: 0px;
}

a {
  color: black;
}

.event-nav a {
  text-decoration: none;
}

.event-nav .router-link-active {
  color: rgb(94, 112, 168);
  font-weight: 600;
}

.page-title {
  color: rgb(236, 113, 12);
  font-weight: 800;
  backdrop-filter: blur(5px);
  display: inline-block;
  padding: 0.5rem 1rem;
  text-shadow: 2px 2px black;
}
